 <!DOCTYPE html>
<html class="full-height" lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    
    <title>Single Cell Explorer</title>    
    {% include  "common/libx1.html"  %}
  </head>

  
  <body>


    <nav class="navbar navbar-expand-sm navbar-light bg-light static-top">
        
        <a class="navbar-brand" href="/">   Single Cell Explorer  </a>
        <span style='width: 60px;'></span>
        <ul class="navbar-nav" name='applinks'>
          <li class="nav-item" style='cursor: pointer;'>
            <a class="nav-link" name='linktosamples' href="/">Index</a>
          </li>
          <li class="nav-item" style='cursor: pointer;'>
            <a class="nav-link" name='linktoplot' href="/plots">Comparison</a>
          </li>

          <li class="nav-item active" style='cursor: pointer;'>
            <a class="nav-link" name='linktoML' href="/nn">Neural Network</a>
          </li>

          <li class="nav-item" style='cursor: pointer;'>
            <a class="nav-link" name='linktoadmin' href="/administration">Admin</a>
          </li>
          <!--li class="nav-item" style='cursor: pointer;'>
            <a class="nav-link" name='linktoContrast' href="/contrast">Contrast</a>
          </li-->
        </ul>
      
      


    </nav>


    
    <div style="height: 13px;"></div>
    <div class="container-fluid" style="height: calc(100% - 87px);">
      <div class='row h-100' style="min-height: 340px;">

        <div style='width: 67%;' >
            <div class='col-12 h-100'>
              <div class='card h-100' id='mainpanel'>
                   
                  

              </div>
            </div>

        </div>

        <div style='width: 33%;'>
            <div class='h-100' style="margin-right: 8px;">
              <div class='h-100' id='infopanel'  style="overflow-y: auto;">
                  <div>select a model</div>

              </div>
            </div>

        </div>
      </div>


    </div>




    <div id='loadingcanvas' style="position: fixed;width: 100%;height: 100%;left:0;top:0;background :rgba(192, 192, 192, .6);z-index:9999999;display: none;" >
        <div class="h-100" style="display: flex;justify-content: center;align-items: center;vertical-align: middle;">
            <div class="loader">
                  <div class="dot dot1"><i></i></div>
                  <div class="dot dot2"><i></i></div>
                  <div class="dot dot3"><i></i></div>
                  <div class="dot dot4"><i></i></div>
                  <div class="dot dot5"><i></i></div>
                  <div class="dot dot6"><i></i></div>
                  <div class="dot dot7"><i></i></div>
                  <div class="dot dot8"><i></i></div>
                  <div class="dot dot9"><i></i></div>
            </div>
        </div>



    </div>


     
      <div id="dragablediv" class='shadow mb-5 bg-white rounded' style="width: 600px;position: absolute;top: 100px;right: 30px;display: none;">
        <div class='card'>
          <div name="dragabledivheader" class="card-header" style='cursor:move;'>
              <span name='dragablepaneltitle' style='color:steelblue;font-weight: bold;font-size: 20px;'></span>

              <button type="button" class="close" name='closedragablepanel'>
                <span>&times;</span>
              </button>

          </div>

          <div class="card-body">
            
              

          </div>
          

        </div>
      </div>
    


     



    <div class="modal" id="defaultModal" tabindex="-1" role="dialog" aria-hidden="true"  > 
      <div class="modal-dialog" role="document">
        <div class="modal-content" >
          <div class="modal-header">
            <h5 class="modal-title"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" >
              
              
          </div>
          <div class="modal-footer">
             
          </div>
        </div>
      </div>
    </div>


    <div id='tooltip'></div>    
  
    <script type="text/javascript">
      

      $(function() {
          //index model display
          //$('#sampleListModal').modal("show");
          initComponents();
 			
          function initComponents(){


          }




    </script>






  </body>
</html>